@model TaskModel
@{
    ViewData["Title"] = "Assignment";
}
<link rel="stylesheet" type="text/css" href="~/css/task.css">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div class="row">
                <div class="col-sm-8">
                    <h5>@Model.Assignment.AssignmentName</h5>

                    <h6>Status</h6>
                    <p> @Model.Assignment.Status</p>

                    <h6>Description</h6>
                    <p> @Model.Assignment.AssignmentDescription</p>

                    <h6>Deadline</h6>
                    <input type='text' class="form-control">

                    <h5>Comments:</h5>
                    <h5>Title description, Dec 7, 2017</h5>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <h5>Title description, Dec 7, 2017</h5>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>


                </div>

                <div class="col-sm-4">
                    <h6>Assignees:</h6>
                    @{ var assignees = await Model.GetAllAssignees(@Model.Assignment.AssignmentID);}
                    @for (int i = 0; i < assignees.Count; i++)
                    {
                        <form>
                            <div class="input-group">
                                <input type="text" readonly class="form-control" id="assignedUser" name="assignedUser" value="@assignees[i]" />
                                <div class="input-group-append">
                                    <button asp-controller="Board" asp-action="RemoveAssignee" asp-route-id="@Model.Assignment.AssignmentID" asp-route-assignedUser="assignedUser" aria-label="Close" style="margin-bottom:10px" class="btn btn-outline-danger" type="submit">Remove</button>
                                </div>
                            </div>
                        </form>
                    }

                    <form>
                        <div class="input-group">
                            <input style="margin-bottom:10px" class="form-control" type="text" id="assigneeUsername" name="assigneeUsername" placeholder="Search for assignees" />
                            <div class="input-group-append">
                                <button asp-controller="Board" asp-action="UpdateAssignee" asp-route-id="@Model.Assignment.AssignmentID" asp-route-assigneeUsername="assigneeUsername" style="margin-bottom:10px" class="btn btn-outline-primary" type="submit">Add</button>
                            </div>
                        </div>
                    </form>

                    <br />

                    <h6>Add task to project:</h6>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select project
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>

                    <br />

                    <h6>Change priority:</h6>
                    <div class="dropdown">
                        <select onchange="getpriority(this.options[this.selectedIndex].value, @Model.Assignment.AssignmentID);" asp-for="@Model.Assignment.Priority" asp-items="Html.GetEnumSelectList<project_management_system.Enums.Priority>()" class="custom-select"></select>
                    </div>

                    <br />

                    <h6>Change start date:</h6>
                    <div class="form-group">
                        <input asp-for="@Model.Assignment.StartDate" class="form-control" id="startDate" name="startDate" />
                        <span asp-validation-for="@Model.Assignment.StartDate" class="text-danger"></span>
                    </div>

                    <h6>Change end date:</h6>
                    <div class="form-group">
                        <input asp-for="@Model.Assignment.EndDate" class="form-control" id="endDate" name="endDate" />
                        <span asp-validation-for="@Model.Assignment.EndDate" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#assigneeUsername").autocomplete({
                source: '/api/search/searchAssignee'
            });
        });
    </script>

    <script>
        function removeAssignee(var1, var2) {
            var urlString = '';
            $.ajax({
                url: urlString.concat('Board/RemoveAssignee?id=', var1, '&assigneeUsername=', var2),
                dataType: "json",
                type: "POST",
                cache: false,
                data: { id: var1, assigneeUsername: var2 },
            });
        }

        function getpriority(sel, assignmentId) {
            console.log("assignmentId: " + assignmentId + ", newPriority: " + sel)
            var urlString = '';
            $.ajax({
                url: urlString.concat('/Board/UpdateAssignmentPriority?id=', assignmentId, '&priority=', sel),
                dataType: "json",
                type: "POST",
                cache: false,
                data: { id: assignmentId, priority: sel },
            });
        }

        $('#startDate').change(function () {
            var date = $(this).val();
            var assignmentId = '@Model.Assignment.AssignmentID';
            console.log(date, 'change')
            var urlString = '';
            $.ajax({
                url: urlString.concat('/Board/UpdateAssignmentStartDate?id=', assignmentId, '&startDate=', date),
                dataType: "json",
                type: "POST",
                cache: false,
                data: { id: assignmentId, startDate: date },
            });
        });

        $('#endDate').change(function () {
            var date = $(this).val();
            var assignmentId = '@Model.Assignment.AssignmentID';
            console.log(date, 'change')
            var urlString = '';
            $.ajax({
                url: urlString.concat('/Board/UpdateAssignmentEndDate?id=', assignmentId, '&endDate=', date),
                dataType: "json",
                type: "POST",
                cache: false,
                data: { id: assignmentId, endDate: date },
            });
        });
    </script>
}