@model TaskModel
@{
    ViewData["Title"] = "Assignment";
}
<link rel="stylesheet" type="text/css" href="~/css/task.css">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div class="row">
                <div class="col-sm-8">
                    <h5>@Model.Assignment.AssignmentName</h5>

                    <h6>Status</h6>
                    <p> @Model.Assignment.Status</p>

                    <h6>Description</h6>
                    <p> @Model.Assignment.AssignmentDescription</p>

                    <h6>Deadline</h6>
                    <input type='text' class="form-control">

                    <h5>Comments:</h5>
                    <h5>Title description, Dec 7, 2017</h5>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <h5>Title description, Dec 7, 2017</h5>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>


                </div>

                <div class="col-sm-4">
                    <h6>Assignees:</h6>
                    @{ var assignees = await Model.GetAllAssignees(@Model.Assignment.AssignmentID);}
                    @for (int i = 0; i < assignees.Count; i++)
                    {
                        <form>
                            <div class="input-group">
                                <input type="text" readonly class="form-control" id="assignedUser" name="assignedUser" value="@assignees[i]" />
                                <div class="input-group-append">
                                    <button asp-controller="Board" asp-action="RemoveAssignee" asp-route-id="@Model.Assignment.AssignmentID" asp-route-assignedUser="assignedUser" aria-label="Close" style="margin-bottom:10px" class="btn btn-outline-danger" type="submit">Remove</button>
                                </div>
                            </div>
                        </form>
                    }

                    <form>
                            <div class="input-group">
                                <input style="margin-bottom:10px" class="form-control" type="text" id="assigneeUsername" name="assigneeUsername" placeholder="Search for assignees" />
                                <div class="input-group-append">
                                    <button asp-controller="Board" asp-action="UpdateAssignee" asp-route-id="@Model.Assignment.AssignmentID" asp-route-assigneeUsername="assigneeUsername" style="margin-bottom:10px" class="btn btn-outline-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>

                    <h6>Watchers:</h6>
                    <p>watcher1</p>
                    <p>watcher2</p>
                    <input style="margin-bottom:10px" type='text' class="form-control" placeholder="Search for watchers...">

                    <h6>Files:</h6>
                    <p>fileDownloadLink1</p>
                    <p>fileDownloadLink2</p>
                    <a style="margin-bottom:10px" type="button" class="btn btn-outline-primary">Add file</a>

                    <h6>Priority:</h6>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            currentPriority
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Major</a></li>
                            <li><a href="#">Minor</a></li>
                            <li><a href="#">Blocker</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#assigneeUsername").autocomplete({
                source: '/api/search/searchAssignee'
            });
        });
    </script>

    <script>
        function removeAssignee(var1, var2) {
            console.log('var1:' + var1 + 'var2' + var2);
            var urlString = '';
            $.ajax({
                url: urlString.concat('Board/RemoveAssignee?id=', var1, '&assigneeUsername=', var2),
                dataType: "json",
                type: "POST",
                cache: false,
                data: { id: var1, assigneeUsername: var2 },
            });
        }
    </script>
}