@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProjectModel
<form role="form" enctype="multipart/form-data" id="boardMainPage">
    <div class="container">

        <h1>Available projects:</h1>
        <div class="list-group">
            @foreach (var project in await Model.GetAvailableProjects())
            {
                <div class="row" style="margin-bottom:5px">
                    <div class="col-md-6" style="padding-right:0px">
                        <a class="list-group-item list-group-item-action" asp-controller="Project" asp-action="Project" asp-route-id="@project.ProjectID">@project.ProjectName</a>
                    </div>
                    <div class="col-md-2" style="padding-left:0px">
                        <a class="list-group-item list-group-item-action active" asp-controller="Board" asp-action="ProgressAnalysis" asp-route-projectId="@project.ProjectID">View progress</a>
 k                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-6" style="padding-right:0px">
                    <a href="#newProjectModal" class="list-group-item list-group-item-action active" data-toggle="modal" data-target="#newProjectModal" data-id="1">
                        Add new project
                    </a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create new project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Project name:</label>
                                <input asp-for="@Model.Project.ProjectName" type="text" class="form-control" id="taskName" placeholder="Enter project name">

                                <label>Description:</label>
                                <textarea asp-for="@Model.Project.ProjectDescription" class="form-control" id="taskDescription" rows="3"></textarea>
                            </div>
                            <div class="col-md-6">

                                <label>Start date:</label>
                                <div class="form-group">
                                    <input asp-for="@Model.Project.StartDate" class="form-control" id="startDate" name="startDate">
                                    <span asp-validation-for="@Model.Project.StartDate" class="text-danger"></span>
                                </div>

                                <label>End date:</label>
                                <div class="form-group">
                                    <input asp-for="@Model.Project.EndDate" class="form-control" id="endDate" name="endDate">
                                    <span asp-validation-for="@Model.Project.EndDate" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit" asp-controller="Project" asp-action="CreateProject">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>